{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('security_login') }}" method="post">

        <h1>Connexion</h1>

        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="_password"/>

        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button type="submit">Send</button>

    </form>
{% endblock %}