{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}

    {{ form_label(form.username) }}
    {{ form_widget(form.username) }}
    {{ form_errors(form.username) }}

    {{ form_label(form.email) }}
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

    {{ form_label(form.password.first) }}
    {{ form_widget(form.password.first) }}
    {{ form_errors(form.password.first) }}

    {{ form_label(form.password.second) }}
    {{ form_widget(form.password.second) }}
    {{ form_errors(form.password.second) }}


    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}