{% extends 'base.html.twig' %}

{% block body %}
    <h1>Le compte est déjà actif</h1>
    <p>En cas de problème contacter l'administrateur.</p>
    <a href="{{ path('home') }}">Back to home</a>
{% endblock %}

