{% extends 'base.html.twig' %}
{% block title %}Profil de {{ app.user.username }} {% endblock %}

{% block body %}
    <h1>Profil !</h1>

    <span>Nom : {{ app.user.username }}</span> <br>
    <span>Email : {{ app.user.email }}</span> <br>
    <span>Role : {{ app.user.roles[0] }}</span> <br>
    <span>Password use Bcryt : {{ app.user.password }}</span> <br>
{% endblock %}