<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<a href="{{ path('home') }}">Accueil</a>
{% if app.user %}
    <a href="{{ path('profil_home') }}">Profil</a>
    <a href="{{ path('logout') }}">Déconnexion</a>
{% else %}
    <a href="{{ path('security_register') }}">Inscription</a>
    <a href="{{ path('security_login') }}">Connexion</a>
{% endif %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>